body{
	margin: 0;
	height: 3000px;
}
.bodyEx2 div{
	width: 300px;
	height: 300px;
	background: #2f358f;
	position: absolute;
}
h1{
	text-align: center;
	font-weight: bold;
	font-family: verdana;
	color: #ce2d2d;
}
#bug{
	font-size: 50px;
}
.bodyEx3 div{
	width: 100%;
	height: 1000px;
	margin-top: 20px;
	background: #2f358f;
}